{% extends 'base/main.html' %}
{% block content %}


<div class="login-header-bar"> 
    <div>
        <h1 style="color:rgba(29, 27, 27, 0.89);text-shadow: 1px 1px #0febbb;text-align:center;">TO DO LIST APP</h1>
        <h4 style="margin: 0;text-align:center;"><strong>Write . Complete . Repeat </strong>🎉</h3>
    </div>
</div>
<div>
    <form method="POST" >
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>
    <h5 style="font-size: 20px; text-align:right;padding:10px;">Don't Have an Account?
        <a style="text-shadow: 1px 1px #0febbb;text-decoration:none;" href="{% url 'register' %}">Register</a>&#8677;</h5>
</div>

{% endblock content %}